body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  min-height: 100%;
  background-color: #202020;
  color: #ffffff; /* This sets the default text color to white for better contrast */
}

/* You may want to adjust other styles to fit with the new dark background */
header {
  background-color: #303030; /* A slightly lighter shade for the header */
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

